<div class="about-section">
    <div class="container about-container">
        <ul class="about-img-list">
            <li class="about-img-item">
                <img class="about-img" src="./img/tablet/about-img-1.jpg" alt="A man shaves his beard">
            </li>
            <li class="about-img-item">
                <img class="about-img" src="./img/tablet/about-img-2.jpg" alt="A man's hair is cut">
            </li>
        </ul>

        <div class="about-content-container">
            <p class="about-label">about</p>
            <h2 class="about-title">Best Barbershop in your city</h2>
            <p class="about-text">If you want to add more confidence to your image, you should definitely visit us.</p>
            <p class="about-description">
                We are a team that never stops at what has been achieved and are thirsty for changes. And when you fall
                into the hands of our master, you will never be the same again. We are a team that is always "on the
                same wave" with clients. Therefore, we are always ready to improve everyone who comes to us!
            </p>
            <button class="button about-button" type="button">online-booking</button>
        </div>
    </div>
</div>