<div class="barbers-section" id="barbers">
    <div class="container">
        <p class="barbers-label">for true enjoyers of the atmosphere</p>
        <h2 class="barbers-title">Our barbers</h2>
        <ul class="barbers-list">
            <li class="barbers-item">
                <picture>
                    <source srcset="./img/desktop/barber-john-img.webp 1x, ./img/desktop/barber-john-img@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/desktop/barber-john-img.jpg 1x, ./img/desktop/barber-john-img@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/barber-john-img.webp 1x, ./img/tablet/barber-john-img@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/barber-john-img.jpg 1x, ./img/tablet/barber-john-img@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="barbers-img" src="./img/tablet/barber-john-img.jpg" alt="John Smith">
                </picture>
                <h3 class="barbers-name">John Smith</h3>
                <p class="barbers-description">Extreme Barber</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a href="https://www.instagram.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://x.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.linkedin.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="barbers-item">
                <picture>
                    <source
                        srcset="./img/desktop/barber-michele-img.webp 1x, ./img/desktop/barber-michele-img@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/desktop/barber-michele-img.jpg 1x, ./img/desktop/barber-michele-img@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/barber-michele-img.webp 1x, ./img/tablet/barber-michele-img@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/barber-michele-img.jpg 1x, ./img/tablet/barber-michele-img@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="barbers-img" src="./img/tablet/barber-michele-img.jpg" alt="Michele Doe">
                </picture>
                <h3 class="barbers-name">Michele Doe</h3>
                <p class="barbers-description">Extreme Barber</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a href="https://www.instagram.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://x.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.linkedin.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="barbers-item">
                <picture>
                    <source srcset="./img/desktop/barber-alan-img.webp 1x, ./img/desktop/barber-alan-img@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/desktop/barber-alan-img.jpg 1x, ./img/desktop/barber-alan-img@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/barber-alan-img.webp 1x, ./img/tablet/barber-alan-img@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/barber-alan-img.jpg 1x, ./img/tablet/barber-alan-img@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="barbers-img" src="./img/tablet/barber-alan-img.jpg" alt="Alan Black">
                </picture>
                <h3 class="barbers-name">Alan Black</h3>
                <p class="barbers-description">Extreme Barber</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a href="https://www.instagram.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://x.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.linkedin.com/" target="_blank">
                            <svg class="social-icon" width="20" height="20">
                                <use href="./img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>