<div class="contact-section" id="contacts">
    <div class="container">
        <h2 class="contact-title">Contacts</h2>
        <div class="contact-container">
            <ul class="contact-list">
                <li class="contact-item">
                    <a class="contact-link" href="https://maps.app.goo.gl/DXmT2aoQ6hm3Eamw9" target="_blank">
                        <svg class="contact-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-location"></use>
                        </svg>
                        st. Vasilkovaya, 7A Kiev, 08132
                    </a>
                </li>
                <li class="contact-item">
                    <a class="contact-link" href="tel:+380441111111">
                        <svg class="contact-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-phone"></use>
                        </svg>
                        +38 044 111 11 11
                    </a>
                </li>
                <li class="contact-item">
                    <a class="contact-link" href="mailto:barbershop@email.com">
                        <svg class="contact-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-mail"></use>
                        </svg>
                        barbershop@email.com
                    </a>
                </li>
            </ul>

            <div class="working-hours-container">
                <p class="working-hours-title">working hours</p>
                <p class="working-hours-text">Every day from 9:00 to 22:00</p>
            </div>
        </div>
    </div>
</div>