<div class="form-section" id="form">
    <div class="container">
        <h2 class="form-title">Online-booking</h2>
        <form class="form">
            <div class="input-container">
                <div class="input-label-container">
                    <label class="form-label" for="user-name">name*</label>
                    <input class="form-input" type="text" name="user-name" id="user-name" required>
                </div>

                <div class="input-label-container">
                    <label class="form-label" for="user-tel">phone*</label>
                    <input class="form-input" type="tel" name="user-tel" id="user-tel" required>
                </div>
            </div>

            <div class="textarea-container">
                <label class="form-label" for="user-comment">message</label>
                <textarea class="form-textarea" name="user-comment" id="user-comment"></textarea>
            </div>
            <button class="form-button" type="submit">send</button>
        </form>
    </div>
</div>