<header class="header">
    <div class="header-container">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html">
                <img src="./img/logo.png" alt="Logo" width="68" height="55">
            </a>

            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link" href="#">About</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#">Services and prices</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#">Barbers</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#">Contacts</a>
                </li>
            </ul>
        </nav>

        <div class="order-container">
            <button class="header-button" type="button">online-booking</button>
            <address class="header-address">
                <a class="address-tel" href="tel:+380441111111">+38 044 111 11 11</a>
            </address>
        </div>
    </div>
</header>