<header class="header">
    <div class="header-container">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html">
                <img src="./img/logo.png" alt="Logo" width="68" height="55">
            </a>

            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link" href="#about">About</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#service">Services and prices</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#barbers">Barbers</a>
                </li>
                <li class="tablet-header-item header-item">
                    <a class="header-link" href="#contacts">Contacts</a>
                </li>
                <li class="desk-header-item">
                    <a class="header-link" href="#form">Contacts</a>
                </li>
            </ul>
        </nav>

        <div class="order-container">
            <a class="button header-button" href="#form">online-booking</a>
            <address class="header-address">
                <a class="address-tel" href="tel:+380441111111">+38 044 111 11 11</a>
            </address>
        </div>
    </div>
</header>