<div class="hero-section">
    <div class="container">
        <ul class="hero-social-list">
            <li class="hero-social-item">
                <a class="hero-social-link" href="#">Instagram</a>
            </li>
            <li class="hero-social-item">
                <a class="hero-social-link" href="#">YouTube</a>
            </li>
        </ul>

        <div class="hero-text-container">
            <p class="hero-text">A hair salon for men in Kyiv</p>
            <h1 class="hero-title">BarberShop</h1>
            <p class="hero-description">We are experts in trendy men's haircuts.
                We work quickly, carefully and with style.</p>
        </div>

        <ul class="hero-slider-list">
            <li class="hero-slider-item">
                <a class="hero-slider-link" href="#">BACK</a>
            </li>
            <li class="hero-slider-item">
                <a class="hero-slider-link" href="#">FORWARD</a>
            </li>
        </ul>

        <div class="hero-slider-container">
            <img class="hero-img" src="./img/tablet/hero-bg-slider-1.png" alt="A barber">
        </div>
    </div>
</div>