<div class="hero-section">
    <div class="container">
        <ul class="hero-social-list">
            <li class="hero-social-item">
                <a class="hero-social-link" href="https://www.instagram.com/" target="_blank">Instagram</a>
            </li>
            <li class="hero-social-item">
                <a class="hero-social-link" href="https://www.youtube.com/" target="_blank">YouTube</a>
            </li>
        </ul>

        <div class="hero-text-container">
            <p class="hero-text">A hair salon for men in Kyiv</p>
            <h1 class="hero-title">BarberShop</h1>
            <p class="hero-description">We are experts in trendy men's haircuts.
                We work quickly, carefully and with style.</p>
        </div>

        <div class="hero-slider-container">
            <div class="swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <picture>
                            <source
                                srcset="./img/desktop/hero-bg-slider-1.webp 1x, ./img/desktop/hero-bg-slider-1@2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="./img/desktop/hero-bg-slider-1.png 1x, ./img/desktop/hero-bg-slider-1@2x.png 2x"
                                media="(min-width: 1280px)" type="image/png">

                            <source
                                srcset="./img/tablet/hero-bg-slider-1.webp 1x, ./img/tablet/hero-bg-slider-1@2x.webp 2x"
                                media="(max-width: 1279px)" type="image/webp">
                            <source
                                srcset="./img/tablet/hero-bg-slider-1.png 1x, ./img/tablet/hero-bg-slider-1@2x.png 2x"
                                media="(max-width: 1279px)" type="image/png">

                            <img class="hero-img" src="./img/tablet/hero-bg-slider-1.png" alt="A barber">
                        </picture>
                    </li>
                    <li class="swiper-slide">
                        <picture>
                            <source
                                srcset="./img/desktop/hero-bg-slider-2.webp 1x, ./img/desktop/hero-bg-slider-2@2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="./img/desktop/hero-bg-slider-2.png 1x, ./img/desktop/hero-bg-slider-2@2x.png 2x"
                                media="(min-width: 1280px)" type="image/png">

                            <source
                                srcset="./img/tablet/hero-bg-slider-2.webp 1x, ./img/tablet/hero-bg-slider-2@2x.webp 2x"
                                media="(max-width: 1279px)" type="image/webp">
                            <source
                                srcset="./img/tablet/hero-bg-slider-2.png 1x, ./img/tablet/hero-bg-slider-2@2x.png 2x"
                                media="(max-width: 1279px)" type="image/png">

                            <img class="hero-img" src="./img/tablet/hero-bg-slider-2.png" alt="A barber">
                        </picture>
                    </li>
                    <li class="swiper-slide">
                        <picture>
                            <source
                                srcset="./img/desktop/hero-bg-slider-3.webp 1x, ./img/desktop/hero-bg-slider-3@2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="./img/desktop/hero-bg-slider-3.png 1x, ./img/desktop/hero-bg-slider-3@2x.png 2x"
                                media="(min-width: 1280px)" type="image/png">

                            <source
                                srcset="./img/tablet/hero-bg-slider-3.webp 1x, ./img/tablet/hero-bg-slider-3@2x.webp 2x"
                                media="(max-width: 1279px)" type="image/webp">
                            <source
                                srcset="./img/tablet/hero-bg-slider-3.png 1x, ./img/tablet/hero-bg-slider-3@2x.png 2x"
                                media="(max-width: 1279px)" type="image/png">

                            <img class="hero-img" src="./img/tablet/hero-bg-slider-3.png" alt="A barber">
                        </picture>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>