<div class="portfolio-section">
    <div class="container">
        <p class="portfolio-label">in Latin, "barba" means "beard"</p>
        <ul class="portfolio-list">
            <li class="portfolio-item">
                <picture>
                    <source srcset="./img/desktop/portfoli-img-1.webp 1x, ./img/desktop/portfoli-img-1@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/desktop/portfoli-img-1.jpg 1x, ./img/desktop/portfoli-img-1@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/portfoli-img-1.webp 1x, ./img/tablet/portfoli-img-1@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/portfoli-img-1.jpg 1x, ./img/tablet/portfoli-img-1@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="portfolio-img" src="./img/tablet/portfoli-img-1.jpg" alt="Barber cuts a client's hair">
                </picture>
            </li>
            <li class="portfolio-item">
                <picture>
                    <source srcset="./img/desktop/portfoli-img-2.webp 1x, ./img/desktop/portfoli-img-2@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/desktop/portfoli-img-2.jpg 1x, ./img/desktop/portfoli-img-2@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/portfoli-img-2.webp 1x, ./img/tablet/portfoli-img-2@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/portfoli-img-2.jpg 1x, ./img/tablet/portfoli-img-2@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="portfolio-img" src="./img/tablet/portfoli-img-2.jpg"
                        alt="A barber shaves a client's beard">
                </picture>
            </li>
            <li class="portfolio-item">
                <picture>
                    <source srcset="./img/dekstop/portfoli-img-3.webp 1x, ./img/dekstop/portfoli-img-3@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/dekstop/portfoli-img-3.jpg 1x, ./img/dekstop/portfoli-img-3@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/portfoli-img-3.webp 1x, ./img/tablet/portfoli-img-3@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/portfoli-img-3.jpg 1x, ./img/tablet/portfoli-img-3@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="portfolio-img" src="./img/tablet/portfoli-img-3.jpg"
                        alt="A barber wipes a client's face">
                </picture>
            </li>
            <li class="portfolio-item">
                <picture>
                    <source srcset="./img/dekstop/portfoli-img-4.webp 1x, ./img/dekstop/portfoli-img-4@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./img/dekstop/portfoli-img-3.jpg 1x, ./img/dekstop/portfoli-img-4@2x.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpg">

                    <source srcset="./img/tablet/portfoli-img-4.webp 1x, ./img/tablet/portfoli-img-4@2x.webp 2x"
                        media="(max-width: 1279px)" type="image/webp">
                    <source srcset="./img/tablet/portfoli-img-4.jpg 1x, ./img/tablet/portfoli-img-4@2x.jpg 2x"
                        media="(max-width: 1279px)" type="image/jpg">

                    <img class="portfolio-img" src="./img/tablet/portfoli-img-4.jpg" alt="Barber cuts a client's hair">
                </picture>
            </li>
        </ul>
    </div>
</div>