<div class="portfolio-section">
    <div class="container">
        <p class="portfolio-label">in Latin, "barba" means "beard"</p>
        <ul class="portfolio-list">
            <li class="portfolio-item">
                <img class="portfolio-img" src="./img/tablet/portfoli-img-1.jpg" alt="Barber cuts a client's hair">
            </li>
            <li class="portfolio-item">
                <img class="portfolio-img" src="./img/tablet/portfoli-img-2.jpg" alt="A barber shaves a client's beard">
            </li>
            <li class="portfolio-item">
                <img class="portfolio-img" src="./img/tablet/portfoli-img-3.jpg" alt="A barber wipes a client's face">
            </li>
            <li class="portfolio-item">
                <img class="portfolio-img" src="./img/tablet/portfoli-img-4.jpg" alt="Barber cuts a client's hair">
            </li>
        </ul>
    </div>
</div>