<div class="service-section">
    <div class="container">
        <p class="service-label">SPEND YOUR TIME WITH THE BEST MASTERS</p>
        <h2 class="service-title">Services and prices</h2>

        <div class="service-price-container">
            <ul class="service-list">
                <li class="service-item">Men's haircut</li>
                <li class="service-item">Beard trim</li>
                <li class="service-item">Mustache trim</li>
                <li class="service-item">Straight razor shave</li>
                <li class="service-item">Trainee's haircut</li>
                <li class="service-item">Haircut under the nozzle</li>
                <li class="service-item">Children's haircut (0-12 y.o.)</li>
                <li class="service-item">Camouflage of grey hair</li>
            </ul>

            <ul class="service-price">
                <li class="service-price">from 300 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 50 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 300 uah.</li>
                <li class="service-price">from 200 uah.</li>
            </ul>
        </div>

        <button class="button service-button" type="button">online-booking</button>
    </div>
</div>