<div class="service-section" id="service">
    <div class="container">
        <p class="service-label">SPEND YOUR TIME WITH THE BEST MASTERS</p>
        <h2 class="service-title">Services and prices</h2>

        <div class="service-price-container">
            <ul class="service-list">
                <li class="service-item">Men's haircut</li>
                <li class="service-item">Beard trim</li>
                <li class="service-item">Mustache trim</li>
                <li class="service-item">Straight razor shave</li>
                <li class="service-item">Trainee's haircut</li>
                <li class="service-item">Haircut under the nozzle</li>
                <li class="service-item">Children's haircut (0-12 y.o.)</li>
                <li class="service-item">Camouflage of grey hair</li>
            </ul>

            <ul class="service-price">
                <li class="service-price">from 300 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 50 uah.</li>
                <li class="service-price">from 200 uah.</li>
                <li class="service-price">from 300 uah.</li>
                <li class="service-price">from 200 uah.</li>
            </ul>
        </div>

        <div class="service-list-desktop-container">
            <div class="service-list-left">
                <ul class="service-list-desktop">
                    <li class="service-item-desktop">Men's haircut</li>
                    <li class="service-item-desktop">Beard trim</li>
                    <li class="service-item-desktop">Mustache trim</li>
                    <li class="service-item-desktop">Straight razor shave</li>
                </ul>

                <ul class="service-price-desktop">
                    <li class="service-price-desktop">from 300 uah.</li>
                    <li class="service-price-desktop">from 200 uah.</li>
                    <li class="service-price-desktop">from 200 uah.</li>
                    <li class="service-price-desktop">from 200 uah.</li>
                </ul>
            </div>

            <div class="service-list-right">
                <ul class="service-list-desktop">
                    <li class="service-item-desktop">Trainee's haircut</li>
                    <li class="service-item-desktop">Haircut under the nozzle</li>
                    <li class="service-item-desktop">Children's haircut (0-12 y.o.)</li>
                    <li class="service-item-desktop">Camouflage of grey hair</li>
                </ul>

                <ul class="service-price-desktop">
                    <li class="service-price-desktop">from 50 uah.</li>
                    <li class="service-price-desktop">from 200 uah.</li>
                    <li class="service-price-desktop">from 300 uah.</li>
                    <li class="service-price-desktop">from 200 uah.</li>
                </ul>
            </div>
        </div>


        <a class="button service-button" href="#form">online-booking</a>
    </div>
</div>