<div class="statistic-section">
    <div class="container stat-container">
        <div class="stat-text-container">
            <p class="stat-label">old traditional school</p>
            <h2 class="stat-title">Why people come to us?</h2>
            <p class="stat-description">
                Only good things are said about us. But it's better to see and feel 1 time than read
                10 times.
            </p>
        </div>
        <ul class="stat-list">
            <li class="stat-item">
                <div class="stat-num-container">
                    <p class="stat-num">600</p>
                    <p class="stat-plus">+</p>
                </div>
                <p class="stat-item-text">Satisfied customers per day</p>
            </li>
            <li class="stat-item">
                <div class="stat-num-container">
                    <p class="stat-num">50</p>
                    <p class="stat-plus">+</p>
                </div>
                <p class="stat-item-text">Awards for excellent service</p>
            </li>
            <li class="stat-item">
                <div class="stat-num-container">
                    <p class="stat-num">20</p>
                    <p class="stat-plus">+</p>
                </div>
                <p class="stat-item-text">Kyiv's best barbers</p>
            </li>
            <li class="stat-item">
                <div class="stat-num-container">
                    <p class="stat-num">100</p>
                    <p class="stat-plus">+</p>
                </div>
                <p class="stat-item-text">Gifts for regular customers</p>
            </li>
        </ul>
    </div>
</div>