.header {
    position: absolute;
    z-index: 1;
    right: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 64px;
}

.desk-header-item {
    display: none;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 54px;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: var(--light-font-color);
    transition: color .3s ease;
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-focus-color);
}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.header-button {
    color: var(--light-font-color);
}

.address-tel {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    color: var(--light-font-color);
    transition: color .3s ease;
}

.address-tel:hover,
.address-tel:focus {
    color: var(--hover-focus-color);
}

@media screen and (min-width: 1280px) {
    .header {
        padding-top: 40px;
        right: 64px;
    }

    .header-nav {
        gap: 116px;
    }

    .header-list {
        gap: 30px;
        margin-right: 274px;
    }

    .order-container {
        flex-direction: row-reverse;
        gap: 46px;
        margin-top: 0;
    }

    .tablet-header-item {
        display: none;
    }

    .desk-header-item {
        display: block;
    }
}

@media screen and (min-width: 1500px) {
    .header-nav {
        gap: 230px;
    }
}