.hero-section {
    position: relative;
    padding-bottom: 100px;
    max-height: 780px;
}

.hero-slider-container {
    position: relative;
    width: 608px;
    height: 680px;
    overflow: hidden;
    z-index: -100;
    top: -641px;
    right: -162px;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    height: 100vh;
    object-fit: cover;
}

.hero-slider-container::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 28, 38, 0.2);
    top: 0;
    right: 0;
    z-index: -1;
}

.hero-social-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg);
    position: relative;
}

.hero-social-item {
    position: relative;
    bottom: 290px;
    left: -140px;
}

.hero-social-list::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 60px;
    background-color: #303030;
    bottom: 267px;
    left: -210px;
    transform: rotate(90deg);
}

.hero-social-link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--dark-font-color);
    transition: color 0.3s ease;
}

.hero-text-container {
    max-width: 370px;
    margin-bottom: 180px;
    margin-left: 300px;
    padding-top: 272px;
}

.hero-social-link:hover,
.hero-social-link:focus {
    color: var(--hover-focus-color);
}

.hero-text {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
    padding-left: 80px;
    position: relative;
}

.hero-text::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 60px;
    left: 32px;
    top: -23px;
    background-color: rgba(157, 164, 189, 0.6);
    transform: rotate(-90deg);
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: var(--light-font-color);
}

.hero-description {
    font-size: 18px;
    line-height: 1.67;
    color: var(--additional-font-color);
}

@media screen and (min-width: 1280px) {
    .hero-section {
        padding-bottom: 130px;
    }

    .hero-slider-container {
        width: 1070px;
    }

    .hero-img {
        width: 1070px;
        height: 680px;
        margin-right: 56px;
    }

    .hero-slider-container::after {
        width: 1070px;
        height: 680px;
        margin-right: 56px;
    }

    .hero-social-item {
        bottom: 560px;
        left: 140px;
    }

    .hero-social-list::after {
        bottom: 538px;
        left: 60px;
    }

    .hero-title {
        font-size: 72px;
    }
}

@media screen and (min-width: 1500px) {
    .hero-slider-container {
        width: 1170px;
    }

    .hero-slider-container::after {
        width: 1170px;
    }
}