.portfolio-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio-label {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 44px;
    padding-left: 80px;
    position: relative;
}

.portfolio-label::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 60px;
    background-color: var(--dark-font-color);
    transform: rotate(-90deg);
    top: -22px;
    left: 30px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 1280px) {
    .portfolio-section {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 90px) / 4);
    }
}